@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html body {
    font-family: "Inter", sans-serif;
}

.header_text {
    font-size: 30px;
    text-align: center;
}

/*not being used currently*/
.volunteer_rect {
    border: solid 2px black;
    width: 50vh;
    height: 70vh;
    position: absolute;
    top: 25vh;
    left: 40vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.event_rect {
    border: solid 2px black;
    width: 50vh;
    height: 70vh;
    margin:auto;
    /*
    position: absolute;
    top: 25vh;
    right: 40vh;*/
    display: flex;
    /*if event lookup comes back this will have to be uncentered*/
    justify-content: center;
    align-items: center;
    /* *** */
    flex-direction: column;
    overflow-y: scroll;
}

/*not being used currently*/
.volunteer_rect > .volunteer_item {
    content: "";
    border: solid 2px black;
    width: 44vh;
    height: 6vh;
    z-index: 2;
    margin-left: 1vh;
    margin-top: 1vh;
    min-height: 5vh;
    padding: 1vh;
    text-align: left;
}

.event_rect > .event_item {
    content: "";
    border: solid 2px black;
    width: 44vh;
    height: 20vh;
    z-index: 2;
    margin-left: 1vh;
    margin-top: 1vh;
    min-height: 20vh;
    padding: 1vh;
    text-align: left;
}

.volunteer_lookup {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_input {
    padding: 5px 5px 5px 0px;
}

/*not in use currently*/
.event_lookup {
    position: absolute;
    top: 15vh;
    right: 71vh;
}

.event_input {
    padding: 5px 5px 5px 0px;
}
