/*sidebar*/
.menu {
    background-color: red;
    height: 100vh;
    width: 15vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    text-align: center;
}

.list_icon {
    width: 11vh;
    height: 11vh;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list_item {
    background-color: none;
    padding: 1vh 0vh 1vh 0vh;
    transition: background-color 250ms linear;
}

.list_item a {
    text-decoration: none;
    color: inherit;
}

.list_item:hover {
    background-color: #bf0808
}
/*end of sidebar*/